#timer {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin-inline-end: 10px;
}

.mainBox {
    width: 600px;
    height: 400px;
    margin: 0 auto;
    padding: 10px 50px 50px 50px;
    border: 2px solid;
}

.mainBox h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
}

.mainBox #question {
    font-family: sans-serif;
    font-size: 30px;
}

.buttons {
    margin-top: 30px;
}

#btn0, #btn1, #btn2 {
    background-color: violet;
    width: 250px;
    height: 50px
    font-size: 20px;
    color: #ffffff;
    border: 1px solid
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
}

#score {
    font-size: 18px;
}